[tool.pytest_ini_options]
testpaths = ["test"]
required_plugins = ["pytest-qt"]
qt_api = "pyside6"

[tool.bumpver]
current_version = "2.0.1"
version_pattern = "MAJOR.MINOR.PATCH"
commit_message = "bump version {old_version} -> {new_version}"
commit = true
tag = true
push = false

[tool.bumpver.file_patterns]
"pyproject.toml" = [
    'current_version = "{version}"',
]
"pywr_editor/__init__.py" = [
    '^__version__ = "{version}"$',
    '^__build_date__ = "YYYY-MM-DD"$',
]

[tool.isort]
profile = "black"
line_length = 88
# some imports have different priorities (see form module)
skip = ["__init__.py", "venv", "venv310"]

