bumpver==2023.1129
pre-commit==3.6.1
pytest==8.0.1
pytest-qt==4.4.0
pytest-cov==4.1.0
pyinstaller==6.4.0
requests==2.31.0
typer
flake8==7.0.0
isort==5.13.2
flake8-black
flake8-isort==6.1.1
black==24.2.0