name: Unit tests
on:
  push:
    branches:
      - develop
      - main
  pull_request:
    branches:
      - develop
      - main
jobs:
  Test-On-Windows:
    runs-on: windows-latest
    timeout-minutes: 15
    steps:
#      - name: Collect Workflow Telemetry
#        uses: runforesight/workflow-telemetry-action@v1
      - name: Python Setup
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"
          architecture: x64
      - name: Checkout Source
        uses: actions/checkout@v3
      - name: Install Dependencies
        run: |
          pip install --upgrade pip
          pip install -r requirements.txt
          pip install -r requirements-dev.txt
      - name: Run Tests
        run: |
          pytest -s tests